<app-nav-bar></app-nav-bar>

<!-- Section avec image de fond et dégradé -->
<div class="home-container d-flex align-items-center justify-content-center text-center">
    <div class="content text-white">
      <h1 class="fw-bold text-white text-uppercase fs-1">Bienvenue sur notre plateforme</h1>
      <p class="lead">Explorez nos formations et améliorez vos compétences.</p>
      <a routerLink="/transitaire/formations" class="btn btn-light btn-lg mt-2">
        Commencer
        <i class="bi bi-arrow-right-short"></i>
      </a>
      
    </div>
  </div>

<app-footer></app-footer>
