
  <footer class="bg-dark text-white py-4 w-100">
    <div class="container text-center">
      <div class="row">
        <!-- Colonne 1 -->
        <div class="col-md-4">
          <h5 class="text-white">À propos</h5>
          <p>Notre plateforme propose des cours de qualité pour tous les niveaux.</p>
        </div>

        <!-- Colonne 2 -->
        <div class="col-md-4">
          <h5 class="text-white">Liens rapides</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/transitaire/page-accueil" class="text-white text-decoration-none">Accueil</a></li>
            <li><a routerLink="/transitaire/page-accueil" class="text-white text-decoration-none">À propos</a></li>
            <li><a routerLink="/transitaire/formations" class="text-white text-decoration-none">Formations</a></li>
          </ul>
        </div>

        <!-- Colonne 3 -->
        <div class="col-md-4">
          <h5 class="text-white">Contact </h5>
         <p>Adresse-email: <a href="#">groupe2@gmail.com</a></p>
          <p>Téléphone: +224 621 95 20 82</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-white">Reseau sociaux</h5>
          <div class="icons" id="icons">
            <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-white px-4"><i class="bi bi-linkedin"></i></a>
            <a href="#" class="text-white"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="mt-3">
        <p>&copy; {{year.getFullYear()}} Notre Plateforme. Tous droits réservés.</p>
      </div>
    </div>
  </footer>




