# Ignorer le dossier node_modules
node_modules/

# Ignorer les fichiers de build Angular
dist/
.angular/

# Ignorer les fichiers environnementaux sensibles
*.env
*.log

# Ignorer les fichiers de dépendances de l'IDE (optionnel)
.vscode/
.idea/
.DS_Store
