<div class="auth-wrapper align-items-stretch aut-bg-img">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img row">
      <div class="home-content col-sm-10 auth-content w-auto">
        <h1 class="fw-bold text-white text-uppercase shadow-lg p-4">Bienvenue sur notre plateforme d'inscription </h1>
      </div>
    </div>
    <div class="auth-side-form">
      <div class="auth-content">
        <h3 class="mb-4 f-w-400">Connexion</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="feather icon-mail"></i></span>
            <input
              type="text"
              placeholder="Enter Your Email Id"
              [placeholder]="usernameValue"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid':isLoginFailed || submitted && f?.['username'].errors }"
            />
            <div *ngIf="submitted && f?.['username'].errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">{{errorRequiredUsername}}</div>
            </div>
          </div>         
          <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon2"><i class="feather icon-lock"></i></span>
            <input
              type="password"
              id="password"
              placeholder="Enter Your Password"
              [placeholder]="passwordValue"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid':isLoginFailed || submitted && f?.['password'].errors }"
              value="123456"
            />
            <i class="feather icon-eye password-show" id="togglePassword"></i>
            <div *ngIf="submitted && f?.['password'].errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{errorRequiredPassword}}</div>
            </div>
           
            <div *ngIf="isLoginFailed" class="">
              <h6 class="text-danger"><br>{{errorMessageLogin}}</h6>
            </div>
          
        </div>
          <div hidden class="form-group text-start mt-2">
            <div class="checkbox checkbox-success d-inline">
              <input type="checkbox" name="checkbox-p-1" id="checkbox-p-1" checked="" />
              <label for="checkbox-p-1" class="cr">Enregistrer mot de pass</label>
            </div>
          </div>
          <div class="d-grid">
            <button class="btn btn-block btn-success mb-0">se connecter</button>
          </div>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
        </form>
        
      </div>
    </div>
  </div>
</div>
