<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white">Liste inscriptions</div>
    <div class="card-body">
      <div class="d-flex mt-3">
        <input
          type="text"
          placeholder="Search"
          class="form-control w-auto"
          [(ngModel)]="csearchTerm"
        />
        <button
          type="button"
          hidden="true"
          class="btn btn-primary ms-auto"
          (click)="openModal(editModal, null)"
        >
          Nouveau
        </button>
      </div>

      <div class="table-responsive mt-4">
        <table class="table table-striped border">
          <thead>
            <tr>
              <th>ID</th>
              <th sortable="Name">Entrprise</th>
              <th sortable="Name">NIF</th>
              <th sortable="Name">RCCM</th>
              <th sortable="Name">Date publication</th>
              <th sortable="Name">Code</th>
              <th sortable="Name">Email</th>
              <th sortable="Name">Participant</th>
              <th sortable="Name">Telephone</th>
              <th sortable="Name">Sexe</th>
              <th sortable="Name">Date Inscription</th>
              <th sortable="Name">Formation</th>

              <th sortable="Name">Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let inscription of cfiltreInscriptionList
                  | slice
                    : (cpage - 1) * cpageSize
                    : (cpage - 1) * cpageSize + cpageSize;
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>

              <td>
                <ngb-highlight
                  [result]="inscription.entrepriseName"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>

              <td>
                <ngb-highlight
                  [result]="inscription.codeNif"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight
                  [result]="inscription.codeRccm"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight
                  [result]="inscription.datePublication"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>

              <td>
                <ngb-highlight
                  [result]="inscription.codeDeclarant"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight
                  [result]="inscription.email"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>

              <td>
                <ngb-highlight
                  [result]="inscription.nom"
                  [term]="csearchTerm"
                ></ngb-highlight
                >&nbsp;
                <ngb-highlight
                  [result]="inscription.prenoms"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight
                  [result]="inscription.telephone"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight
                  [result]="inscription.sexe"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>

              <td>
                <ngb-highlight
                  [result]="inscription.dateInscription"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight
                  [result]="inscription.lebelleFormation"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>

              <td>
                <ngb-highlight
                  [result]="inscription.status"
                  [term]="csearchTerm"
                ></ngb-highlight>
              </td>

              <td>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm"
                  (click)="openModal(editModal, inscription)"
                >
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                &nbsp;<button
                  type="button"
                  class="btn btn-outline-danger btn-sm"
                  (click)="delete(inscription.uuid)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [(page)]="cpage"
          [pageSize]="cpageSize"
          [collectionSize]="totalLengthOfCollection"
        ></ngb-pagination>
        <select class="form-select" style="width: auto" [(ngModel)]="cpageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </div>
  </div>

  <ng-template #editModal let-modal>
    <div class="modal-header bg-primary text-white">
      <h5 class="modal-title text-white" id="editLabel">
        {{ editAddLabel }} Inscription
      </h5>
      <button
        type="button"
        class="btn-close"
        (click)="closeBtnClick()"
        aria-label="Close"
      ></button>
    </div>

    <div class="modal-body">
      <app-inscription-form
        [childProperty]="parentProperty"
      ></app-inscription-form>
    </div>
  </ng-template>
</div>
