<div class="container">
    <form [formGroup]="formationForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
            <label for="nom" class="col-sm-3 col-form-label">Libelle</label>
            <div class="col-sm-9">
                <input type="text" class="form-control border border-secondary" formControlName="libelleFormation" id="libelleFormation">
            </div>
        </div>
    
        <div class="mb-3 row">
            <label for="nom" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
                <textarea class="form-control border border-secondary" rows="5" cols="66"
                formControlName="descriptionFormation" id="descriptionFormation"> </textarea>
            </div>
        </div>
        
       <div class="mb-3 row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 button-group">
                <div class="pull-right btn-group col-6 mb-2">
                    <button [disabled]="isButtonActive" type="button" class="btn btn-outline-success col-6" (click)="onActive()" title="Modifier" >
                        <i class="mdi mdi-pencil-box yellow" aria-hidden="true"></i> Activer
                    </button>
                    <button class="btn btn-primary col-6"  type="submit" 
                    [title]="formationForm.valid
                            ? 'Enregistrez vos données'
                            : 'Verrouillé jusqu\'à correction des erreurs' " >
                        <i class="fa fa-save green" aria-hidden="true"> </i> Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>