<app-nav-bar></app-nav-bar>
<div class="formation container mt-5 h-full">
  <h2 class="text-center mb-4" *ngIf="cfiltrePublicationList.length > 0 ">Nos Formations Disponibles</h2>
  <div class="row">

    <!-- Card <i class="bi bi-award-fill"></i>  (click)="openModal(editModal, publication)"-->
    <div class="col-sm-4"  *ngFor="let publication of cfiltrePublicationList">
      <div class="card shadow-lg p-3 mb-4">
        <div class="card-body" >
          <h5 class="card-title">Titre : {{publication.libelleFormation}}</h5>
          <p class="card-text">Description : {{publication.descriptionFormation}}</p>
          <p class="text-muted">Date de publication : {{publication.datePub}}</p>
          <p class="text-muted">Date debut : {{publication.dateDebut}}</p>
          <p class="text-muted">Date fin : {{publication.dateFin}}</p>
          <p hidden class="text-muted">Uuid : {{publication.uuid}}</p>
          <a  [routerLink]="['/transitaire/inscriptions', publication.uuid]"  class="btn btn-success w-100">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center text-danger mb-4" *ngIf="cfiltrePublicationList.length === 0 ">Aucune formation Disponible</h2>
</div>

<app-footer></app-footer>
